# Quantitative Value Strategy
"Value investing" means investing in the stocks that are cheapest relative to common measures of business value (like earnings or assets).

For this project, we're going to build an investing strategy that selects the 50 stocks with the best value metrics. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.

## Library Imports
The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [59]:
import numpy as np
import pandas as pd
import xlsxwriter
import requests
from scipy import stats
import math

## Importing Our List of Stocks & API Token
As before, we'll need to import our list of stocks and our API token before proceeding. Make sure the .csv file is still in your working directory and import it with the following command:

In [3]:
stocks = pd.read_csv('sp_500_stocks.csv')
from mysecrets import IEX_CLOUD_API_TOKEN

## Making Our First API Call
It's now time to make the first version of our value screener!

We'll start by building a simple value screener that ranks securities based on a single metric (the price-to-earnings ratio).

In [7]:
symbol = 'AMD'
api_url = f'https://api.iex.cloud/v1//data/core/QUOTE/{symbol}?token={IEX_CLOUD_API_TOKEN}'

data = requests.get(api_url).json()

data

[{'avgTotalVolume': 59840978,
  'calculationPrice': 'tops',
  'change': -3.64,
  'changePercent': -0.02451,
  'close': None,
  'closeSource': 'official',
  'closeTime': None,
  'companyName': 'Advanced Micro Devices Inc.',
  'currency': 'USD',
  'delayedPrice': None,
  'delayedPriceTime': None,
  'extendedChange': None,
  'extendedChangePercent': None,
  'extendedPrice': None,
  'extendedPriceTime': None,
  'high': None,
  'highSource': None,
  'highTime': None,
  'iexAskPrice': 148,
  'iexAskSize': 100,
  'iexBidPrice': 144.88,
  'iexBidSize': 100,
  'iexClose': 144.9,
  'iexCloseTime': 1704993402470,
  'iexLastUpdated': 1704993402470,
  'iexMarketPercent': 0.005924529307561135,
  'iexOpen': 148.64,
  'iexOpenTime': 1704983400492,
  'iexRealtimePrice': 144.9,
  'iexRealtimeSize': 92,
  'iexVolume': 206522,
  'lastTradeTime': 1704993402470,
  'latestPrice': 144.9,
  'latestSource': 'IEX real time price',
  'latestTime': '12:16:42 PM',
  'latestUpdate': 1704993402470,
  'latestVolume': None,
  'low': None,
  'lowSource': 'IEX real time price',
  'lowTime': 1704989919704,
  'marketCap': 231840000000,
  'oddLotDelayedPrice': None,
  'oddLotDelayedPriceTime': None,
  'open': None,
  'openTime': None,
  'openSource': 'official',
  'peRatio': 1129.38,
  'previousClose': 148.54,
  'previousVolume': 56951243,
  'primaryExchange': 'NASDAQ',
  'symbol': 'AMD',
  'volume': None,
  'week52High': 151.05,
  'week52Low': 67.18,
  'ytdChange': -0.01684430567804093,
  'isUSMarketOpen': True}]

## Parsing Our API Call
This API call has the metric we need - the price-to-earnings ratio.

Here is an example of how to parse the metric from our API call:

In [10]:
peRatio = data[0]["peRatio"]
price = data[0]["latestPrice"]

peRatio

1129.38

## Executing A Batch API Call & Building Our DataFrame

Just like in our first project, it's now time to execute several batch API calls and add the information we need to our DataFrame.

We'll start by running the following code cell, which contains some code we already built last time that we can re-use for this project. More specifically, it contains a function called chunks that we can use to divide our list of securities into groups of 100.

In [11]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'Price-to-Earnings Ratio', 'Number of Shares to Buy']

Now we need to create a blank DataFrame and add our data to the data frame one-by-one.

In [18]:
final_dataframe = pd.DataFrame( columns= my_columns)

for symbol_string in symbol_strings:
    api_url = f'https://api.iex.cloud/v1//data/core/QUOTE/{symbol_string}?token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(api_url).json()
    for i in range(0,len(data)):
        final_dataframe = final_dataframe._append(
            pd.Series(
                [
                    data[i]["symbol"],
                    data[i]["latestPrice"],
                    data[i]["peRatio"],
                    "N/A"
                ], index= my_columns
            ), ignore_index= True
        )


final_dataframe

/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/1330677335.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_dataframe = final_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/1330677335.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_dataframe = final_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/1330677335.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_dataframe = final_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/1330677335.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_dataframe = final_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/1330677335.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_dataframe = final_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/1330677335.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_dataframe = final_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/1330677335.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_dataframe = final_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/1330677335.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_dataframe = final_dataframe._append(

    Ticker    Price  Price-to-Earnings Ratio Number of Shares to Buy
0        A  129.385                    30.88                     N/A
1      AAL   14.590                     5.44                     N/A
2      AAP   61.750                    19.79                     N/A
3     AAPL  184.725                    30.13                     N/A
4     ABBV  163.230                    44.72                     N/A
..     ...      ...                      ...                     ...
500    YUM  128.350                    24.40                     N/A
501    ZBH  122.610                    54.25                     N/A
502   ZBRA  251.490                    28.04                     N/A
503   ZION   42.755                     4.56                     N/A
504    ZTS  196.880                    40.10                     N/A

[505 rows x 4 columns]

## Removing Glamour Stocks

The opposite of a "value stock" is a "glamour stock". 

Since the goal of this strategy is to identify the 50 best value stocks from our universe, our next step is to remove glamour stocks from the DataFrame.

We'll sort the DataFrame by the stocks' price-to-earnings ratio, and drop all stocks outside the top 50.

In [19]:
final_dataframe.sort_values(my_columns[2], ascending=False, inplace=True)
final_dataframe = final_dataframe[final_dataframe[my_columns[2]] > 0]
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(inplace= True)
final_dataframe

    index Ticker    Price  Price-to-Earnings Ratio Number of Shares to Buy
0     474    VTR   47.895                  4024.79                     N/A
1      31    AMD  147.100                  1146.53                     N/A
2     238    IFF   79.760                   969.14                     N/A
3     493   WYNN   93.535                   317.50                     N/A
4     273    KSU  293.590                   279.61                     N/A
5      97    CLX  141.810                   205.08                     N/A
6     481   WELL   90.075                   179.47                     N/A
7     208    GPS   20.900                   175.48                     N/A
8      77    CAH  105.275                   172.92                     N/A
9     150   DXCM  129.490                   146.90                     N/A
10     35    AMT  206.370                   134.88                     N/A
11    283    LLY  634.820                   114.80                     N/A
12    451    TYL  423.230                   114.08                     N/A
13    348    NWS   25.250                   104.73                     N/A
14    114    CRM  269.615                   102.52                     N/A
15    276   LDOS  108.870                   101.75                     N/A
16    349   NWSA   24.135                   100.10                     N/A
17    339    NOW  722.255                    93.44                     N/A
18    157     EL  137.855                    90.69                     N/A
19     46    ARE  126.485                    89.71                     N/A
20    161   EQIX  801.445                    86.08                     N/A
21    250   ISRG  361.935                    85.16                     N/A
22     36   AMZN  155.215                    80.01                     N/A
23     85   CDNS  264.910                    75.47                     N/A
24     72    BSX   59.515                    72.83                     N/A
25    345   NVDA  549.720                    72.43                     N/A
26    471   VRSK  233.190                    69.82                     N/A
27    249    IRM   65.880                    69.49                     N/A
28    134    DIS   89.215                    69.16                     N/A
29    146    DUK   96.935                    67.32                     N/A
30    243   INTU  604.260                    66.11                     N/A
31      6   ABMD  381.020                    65.69                     N/A
32    316    MRK  118.220                    65.31                     N/A
33    381    PRU  102.940                    65.15                     N/A
34    108    COO  382.615                    64.74                     N/A
35     38   ANSS  355.210                    64.12                     N/A
36    415   SNPS  499.120                    63.02                     N/A
37    293    LYV   90.440                    60.29                     N/A
38     74    BXP   70.140                    59.95                     N/A
39     28   ALXN  182.500                    59.45                     N/A
40     24   ALGN  277.900                    59.00                     N/A
41    465    VAR  177.070                    58.44                     N/A
42    155    EFX  241.945                    57.33                     N/A
43    236   IDXX  557.570                    56.89                     N/A
44    290    LVS   49.655                    56.75                     N/A
45     13   ADSK  240.120                    56.63                     N/A
46    246   IPGP  100.190                    56.29                     N/A
47    418   SPGI  432.290                    56.07                     N/A
48    437    TIF  131.460                    55.70                     N/A
49     91    CHD   97.130                    54.88                     N/A

## Calculating the Number of Shares to Buy
We now need to calculate the number of shares we need to buy. 

To do this, we will use the `portfolio_input` function that we created in our momentum project.

I have included this function below.

In [20]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio:")

    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again:")
        portfolio_size = input("Enter the value of your portfolio:")

Use the `portfolio_input` function to accept a `portfolio_size` variable from the user of this script.

In [21]:
portfolio_input()

Enter the value of your portfolio: 1000000

You can now use the global `portfolio_size` variable to calculate the number of shares that our strategy should purchase.

In [24]:
position_size = float(portfolio_size)/len(final_dataframe.index)

for row in final_dataframe.index:
    final_dataframe.loc[row,my_columns[3]] = math.floor(position_size/final_dataframe.loc[row, my_columns[1]])

final_dataframe

    index Ticker    Price  Price-to-Earnings Ratio Number of Shares to Buy
0     474    VTR   47.895                  4024.79                     417
1      31    AMD  147.100                  1146.53                     135
2     238    IFF   79.760                   969.14                     250
3     493   WYNN   93.535                   317.50                     213
4     273    KSU  293.590                   279.61                      68
5      97    CLX  141.810                   205.08                     141
6     481   WELL   90.075                   179.47                     222
7     208    GPS   20.900                   175.48                     956
8      77    CAH  105.275                   172.92                     189
9     150   DXCM  129.490                   146.90                     154
10     35    AMT  206.370                   134.88                      96
11    283    LLY  634.820                   114.80                      31
12    451    TYL  423.230                   114.08                      47
13    348    NWS   25.250                   104.73                     792
14    114    CRM  269.615                   102.52                      74
15    276   LDOS  108.870                   101.75                     183
16    349   NWSA   24.135                   100.10                     828
17    339    NOW  722.255                    93.44                      27
18    157     EL  137.855                    90.69                     145
19     46    ARE  126.485                    89.71                     158
20    161   EQIX  801.445                    86.08                      24
21    250   ISRG  361.935                    85.16                      55
22     36   AMZN  155.215                    80.01                     128
23     85   CDNS  264.910                    75.47                      75
24     72    BSX   59.515                    72.83                     336
25    345   NVDA  549.720                    72.43                      36
26    471   VRSK  233.190                    69.82                      85
27    249    IRM   65.880                    69.49                     303
28    134    DIS   89.215                    69.16                     224
29    146    DUK   96.935                    67.32                     206
30    243   INTU  604.260                    66.11                      33
31      6   ABMD  381.020                    65.69                      52
32    316    MRK  118.220                    65.31                     169
33    381    PRU  102.940                    65.15                     194
34    108    COO  382.615                    64.74                      52
35     38   ANSS  355.210                    64.12                      56
36    415   SNPS  499.120                    63.02                      40
37    293    LYV   90.440                    60.29                     221
38     74    BXP   70.140                    59.95                     285
39     28   ALXN  182.500                    59.45                     109
40     24   ALGN  277.900                    59.00                      71
41    465    VAR  177.070                    58.44                     112
42    155    EFX  241.945                    57.33                      82
43    236   IDXX  557.570                    56.89                      35
44    290    LVS   49.655                    56.75                     402
45     13   ADSK  240.120                    56.63                      83
46    246   IPGP  100.190                    56.29                     199
47    418   SPGI  432.290                    56.07                      46
48    437    TIF  131.460                    55.70                     152
49     91    CHD   97.130                    54.88                     205

## Building a Better (and More Realistic) Value Strategy
Every valuation metric has certain flaws.

For example, the price-to-earnings ratio doesn't work well with stocks with negative earnings.

Similarly, stocks that buyback their own shares are difficult to value using the price-to-book ratio.

Investors typically use a `composite` basket of valuation metrics to build robust quantitative value strategies. In this section, we will filter for stocks with the lowest percentiles on the following metrics:

* Price-to-earnings ratio
* Price-to-book ratio
* Price-to-sales ratio
* Enterprise Value divided by Earnings Before Interest, Taxes, Depreciation, and Amortization (EV/EBITDA)
* Enterprise Value divided by Gross Profit (EV/GP)

Some of these metrics aren't provided directly by the IEX Cloud API, and must be computed after pulling raw data. We'll start by calculating each data point from scratch.

In [32]:
symbol = 'AMD'

batch_api_call_url = f'https://api.iex.cloud/v1/data/CORE/ADVANCED_STATS/{symbol}?token={IEX_CLOUD_API_TOKEN}'

data = requests.get(batch_api_call_url).json()


# peRatio = data[0]["peRatio"]

# priceToBook = data[0]["priceToBook"]
# priceToSales = data[0]["priceToSales"]
# enterpriseValue = data[0]["enterpriseValue"]
# ebitda = data[0]["EBITDA"]

# ev_by_ebitda = enterpriseValue/ebitda

# grossProfit = data[0]["grossProfit"]

# ev_by_grossProfit = enterpriseValue/grossProfit



data

[{'beta': 2.000427091397583,
  'totalCash': 5785000000,
  'currentDebt': 7627000000,
  'revenue': 22111000000,
  'grossProfit': 11122000000,
  'totalRevenue': 22111000000,
  'EBITDA': 3110000000,
  'revenuePerShare': 13.82,
  'revenuePerEmployee': 1939561.4,
  'debtToEquity': 1.23023467345825,
  'profitMargin': 0.00940708244765049,
  'enterpriseValue': 233514000000,
  'enterpriseValueToRevenue': 10.56,
  'priceToSales': 10.71,
  'priceToBook': 4.31,
  'forwardPERatio': 34.09289802292882,
  'pegRatio': -12.418448111858632,
  'peHigh': 103.30587537091976,
  'peLow': 30.08878338278928,
  'week52highDate': '2023-12-29',
  'week52lowDate': '2023-01-19',
  'putCallRatio': 0.6939612501767783,
  'companyName': 'Advanced Micro Devices Inc.',
  'marketcap': 236832000000,
  'week52high': 151.05,
  'week52low': 67.27,
  'week52highSplitAdjustOnly': 151.05,
  'week52highDateSplitAdjustOnly': '2023-12-29',
  'week52lowSplitAdjustOnly': 67.27,
  'week52lowDateSplitAdjustOnly': '2023-01-19',
  'week52change': 1.090677966101695,
  'sharesOutstanding': 1600000000,
  'float': None,
  'avg10Volume': 64229281,
  'avg30Volume': 59425872,
  'day200MovingAvg': 114.86,
  'day50MovingAvg': 134.91,
  'employees': 25000,
  'ttmEPS': 0.1283,
  'ttmDividendRate': None,
  'dividendYield': None,
  'nextDividendDate': None,
  'exDividendDate': None,
  'nextEarningsDate': '2024-01-30',
  'peRatio': 1138.6153846153848,
  'maxChangePercent': 6.273710073710074,
  'year5ChangePercent': 6.3024173655648745,
  'year2ChangePercent': 0.07799868909766228,
  'year1ChangePercent': 1.1433536055603826,
  'ytdChangePercent': 0.004138118173801164,
  'month6ChangePercent': 0.3296802012217033,
  'month3ChangePercent': 0.3666328132213093,
  'month1ChangePercent': 0.101257346923592,
  'day30ChangePercent': 0.0756485720514497,
  'day5ChangePercent': 0.08830233071097737}]

Let's move on to building our DataFrame. You'll notice that I use the abbreviation `rv` often. It stands for `robust value`, which is what we'll call this sophisticated strategy moving forward.

In [35]:
column_ticker = 'Ticker'
column_price = 'Price'
column_shares_to_buy = 'Number of Shares to Buy'
column_peRatio = 'Price-to-Earnings Ratio'
column_pePercentile = 'PE Percentile'
column_priceToBook = 'Price-to-Book Ratio'
column_pbPercentile = 'PB Percentile'
column_priceToSales = 'Price-to-Sales Ratio'
column_psPercentile = 'PS Percentile'
column_ev_by_ebitda = 'EV/EBITDA'
column_ev_by_ebitda_percentile = 'EV/EBITDA Percentile'
column_ev_by_gp = 'EV/GP'
column_ev_by_gp_percentile = 'EV/GP Percentile'
column_rv_score = 'RV Score'

rv_columns = [
    column_ticker,
    column_price,
    column_shares_to_buy,
    column_peRatio,
    column_pePercentile,
    column_priceToBook,
    column_pbPercentile,
    column_priceToSales,
    column_psPercentile,
    column_ev_by_ebitda,
    column_ev_by_ebitda_percentile,
    column_ev_by_gp,
    column_ev_by_gp_percentile,
    column_rv_score
]


rv_dataframe = pd.DataFrame(columns= rv_columns)



for symbol_string in symbol_strings:
    stats_api_call_url = f'https://api.iex.cloud/v1/data/CORE/ADVANCED_STATS/{symbol_string}?token={IEX_CLOUD_API_TOKEN}'
    basic_data_api_call_url = f'https://api.iex.cloud/v1//data/core/QUOTE/{symbol_string}?token={IEX_CLOUD_API_TOKEN}'

    basic_data = requests.get(basic_data_api_call_url).json()
    stats_data = requests.get(stats_api_call_url).json()

    for row in range(0,len(basic_data)):

        enterpriseValue = stats_data[row]["enterpriseValue"]
        ebitda = stats_data[row]["EBITDA"]
        grossProfit = stats_data[row]["grossProfit"]

        try:
            ev_by_ebitda = enterpriseValue/ebitda

        except TypeError:
            ev_by_ebitda = np.NaN


        try:
            ev_by_grossProfit = enterpriseValue/grossProfit

        except TypeError:
            ev_by_grossProfit = np.NaN

        

        
        rv_dataframe = rv_dataframe._append(
            pd.Series(
                [
                    basic_data[row]["symbol"],
                    basic_data[row]["latestPrice"],
                    "N/A",
                    stats_data[row]["peRatio"],
                    "N/A",
                    stats_data[row]["priceToBook"],
                    "N/A",
                    stats_data[row]["priceToSales"],
                    "N/A",
                    ev_by_ebitda,
                    "N/A",
                    ev_by_grossProfit,
                    "N/A",
                    "N/A"
                    
                ], index= rv_columns
            ), ignore_index= True
        )


rv_dataframe

/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/2468288269.py:67: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rv_dataframe = rv_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/2468288269.py:67: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rv_dataframe = rv_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/2468288269.py:67: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rv_dataframe = rv_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/2468288269.py:67: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rv_dataframe = rv_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/2468288269.py:67: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rv_dataframe = rv_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/2468288269.py:67: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rv_dataframe = rv_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/2468288269.py:67: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rv_dataframe = rv_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/2468288269.py:67: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rv_dataframe = rv_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/2468288269.py:67: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rv_dataframe = rv_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/2468288269.py:67: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rv_dataframe = rv_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/2468288269.py:67: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rv_dataframe = rv_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/2468288269.py:67: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rv_dataframe = rv_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/2468288269.py:67: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rv_dataframe = rv_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/2468288269.py:67: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rv_dataframe = rv_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/2468288269.py:67: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rv_dataframe = rv_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/2468288269.py:67: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rv_dataframe = rv_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/2468288269.py:67: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rv_dataframe = rv_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/2468288269.py:67: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rv_dataframe = rv_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/2468288269.py:67: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rv_dataframe = rv_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/2468288269.py:67: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rv_dataframe = rv_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/2468288269.py:67: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rv_dataframe = rv_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/2468288269.py:67: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rv_dataframe = rv_dataframe._append(
/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/2468288269.py:67: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rv_dataframe = rv_dataframe._append(

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,130.670,N/A,30.642558,N/A,6.50,N/A,5.5600,N/A,24.146682,N/A,11.296327,N/A,N/A
1,AAL,13.365,N/A,5.937208,N/A,-1.86,N/A,0.1802,N/A,4.861705,N/A,0.613111,N/A,N/A
2,AAP,62.200,N/A,19.963291,N/A,1.40,N/A,0.3288,N/A,8.410737,N/A,1.103824,N/A,N/A
3,AAPL,185.705,N/A,29.758598,N/A,46.45,N/A,7.5300,N/A,23.334671,N/A,17.357393,N/A,N/A
4,ABBV,162.955,N/A,45.508490,N/A,24.38,N/A,5.3500,N/A,13.613619,N/A,9.439832,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,128.365,N/A,24.026419,N/A,-4.42,N/A,5.1200,N/A,19.579001,N/A,8.883408,N/A,N/A
501,ZBH,122.640,N/A,53.921694,N/A,2.04,N/A,3.5100,N/A,16.048701,N/A,5.900416,N/A,N/A
502,ZBRA,250.130,N/A,28.168258,N/A,4.35,N/A,2.5800,N/A,17.557614,N/A,6.487390,N/A,N/A
503,ZION,42.470,N/A,4.629249,N/A,1.32,N/A,1.2900,N/A,3.535666,N/A,1.334324,N/A,N/A
504,ZTS,197.560,N/A,39.610638,N/A,17.79,N/A,10.7900,N/A,29.382840,N/A,16.161810,N/A,N/A

In [36]:
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,130.670,N/A,30.642558,N/A,6.50,N/A,5.5600,N/A,24.146682,N/A,11.296327,N/A,N/A
1,AAL,13.365,N/A,5.937208,N/A,-1.86,N/A,0.1802,N/A,4.861705,N/A,0.613111,N/A,N/A
2,AAP,62.200,N/A,19.963291,N/A,1.40,N/A,0.3288,N/A,8.410737,N/A,1.103824,N/A,N/A
3,AAPL,185.705,N/A,29.758598,N/A,46.45,N/A,7.5300,N/A,23.334671,N/A,17.357393,N/A,N/A
4,ABBV,162.955,N/A,45.508490,N/A,24.38,N/A,5.3500,N/A,13.613619,N/A,9.439832,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,128.365,N/A,24.026419,N/A,-4.42,N/A,5.1200,N/A,19.579001,N/A,8.883408,N/A,N/A
501,ZBH,122.640,N/A,53.921694,N/A,2.04,N/A,3.5100,N/A,16.048701,N/A,5.900416,N/A,N/A
502,ZBRA,250.130,N/A,28.168258,N/A,4.35,N/A,2.5800,N/A,17.557614,N/A,6.487390,N/A,N/A
503,ZION,42.470,N/A,4.629249,N/A,1.32,N/A,1.2900,N/A,3.535666,N/A,1.334324,N/A,N/A
504,ZTS,197.560,N/A,39.610638,N/A,17.79,N/A,10.7900,N/A,29.382840,N/A,16.161810,N/A,N/A

## Dealing With Missing Data in Our DataFrame

Our DataFrame contains some missing data because all of the metrics we require are not available through the API we're using. 

You can use pandas' `isnull` method to identify missing data:

In [43]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)]

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
6,ABMD,381.020,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
28,ALXN,182.500,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
40,AON,299.590,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
48,ATVI,94.420,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
88,CERN,94.920,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
118,CTL,11.000,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
121,CTXS,103.900,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
136,DISCK,24.420,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
137,DISH,5.770,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
165,ETFC,49.260,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
178,FBHS,57.620,N/A,NaN,N/A,2.62,N/A,0.9868,N/A,9.113639,N/A,3.816647,N/A,N/A
184,FISV,114.230,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
186,FLIR,57.340,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
193,FRT,102.350,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
254,J,133.700,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
325,MXIM,103.140,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
326,MYL,15.855,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
327,NBL,8.450,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
360,PBCT,19.410,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
382,PSA,290.395,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
410,SIVB,106.040,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A
495,XLNX,194.920,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,NaN,N/A,N/A

Dealing with missing data is an important topic in data science.

There are two main approaches:

* Drop missing data from the data set (pandas' `dropna` method is useful here)
* Replace missing data with a new value (pandas' `fillna` method is useful here)

In this tutorial, we will replace missing data with the average non-`NaN` data point from that column. 

Here is the code to do this:

In [44]:
for column in [column_peRatio, column_priceToBook, column_priceToSales, column_ev_by_ebitda, column_ev_by_gp]:
    rv_dataframe[column].fillna(rv_dataframe[column].mean(), inplace= True)

Now, if we run the statement from earlier to print rows that contain missing data, nothing should be returned:

In [45]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)]

Empty DataFrame
Columns: [Ticker, Price, Number of Shares to Buy, Price-to-Earnings Ratio, PE Percentile, Price-to-Book Ratio, PB Percentile, Price-to-Sales Ratio, PS Percentile, EV/EBITDA, EV/EBITDA Percentile, EV/GP, EV/GP Percentile, RV Score]
Index: []

## Calculating Value Percentiles

We now need to calculate value score percentiles for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

* Price-to-earnings ratio
* Price-to-book ratio
* Price-to-sales ratio
* EV/EBITDA
* EV/GP

Here's how we'll do this:

In [48]:
metrics = {
    column_peRatio: column_pePercentile,
    column_priceToBook: column_pbPercentile,
    column_priceToSales: column_psPercentile,
    column_ev_by_ebitda: column_ev_by_ebitda_percentile,
    column_ev_by_gp: column_ev_by_gp_percentile
}


for metric in metrics.keys():
    for row in rv_dataframe.index:
        rv_dataframe.loc[row, metrics[metric]] = stats.percentileofscore(rv_dataframe[metric], rv_dataframe.loc[row, metric])/100

rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,130.670,N/A,30.642558,0.69505,6.50,0.780198,5.5600,0.806931,24.146682,0.863366,11.296327,0.813861,N/A
1,AAL,13.365,N/A,5.937208,0.09703,-1.86,0.10495,0.1802,0.011881,4.861705,0.055446,0.613111,0.017822,N/A
2,AAP,62.200,N/A,19.963291,0.461386,1.40,0.227723,0.3288,0.041584,8.410737,0.20396,1.103824,0.059406,N/A
3,AAPL,185.705,N/A,29.758598,0.683168,46.45,0.976238,7.5300,0.881188,23.334671,0.851485,17.357393,0.942574,N/A
4,ABBV,162.955,N/A,45.508490,0.871287,24.38,0.962376,5.3500,0.8,13.613619,0.469307,9.439832,0.714851,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,128.365,N/A,24.026419,0.546535,-4.42,0.10099,5.1200,0.782178,19.579001,0.728713,8.883408,0.677228,N/A
501,ZBH,122.640,N/A,53.921694,0.90297,2.04,0.375248,3.5100,0.60396,16.048701,0.568317,5.900416,0.419802,N/A
502,ZBRA,250.130,N/A,28.168258,0.645545,4.35,0.657426,2.5800,0.520792,17.557614,0.641584,6.487390,0.469307,N/A
503,ZION,42.470,N/A,4.629249,0.085149,1.32,0.209901,1.2900,0.238614,3.535666,0.023762,1.334324,0.091089,N/A
504,ZTS,197.560,N/A,39.610638,0.833663,17.79,0.934653,10.7900,0.940594,29.382840,0.922772,16.161810,0.922772,N/A

## Calculating the RV Score
We'll now calculate our RV Score (which stands for Robust Value), which is the value score that we'll use to filter for stocks in this investing strategy.

The RV Score will be the arithmetic mean of the 4 percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the mean function from Python's built-in statistics module.

In [49]:
from statistics import mean

for row in rv_dataframe.index:
    ratio_percentiles = []
    for metric in metrics.keys():
        ratio_percentiles.append(rv_dataframe.loc[row, metrics[metric]])

    rv_dataframe.loc[row, column_rv_score] = mean(ratio_percentiles)


rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,130.670,N/A,30.642558,0.69505,6.50,0.780198,5.5600,0.806931,24.146682,0.863366,11.296327,0.813861,0.791881
1,AAL,13.365,N/A,5.937208,0.09703,-1.86,0.10495,0.1802,0.011881,4.861705,0.055446,0.613111,0.017822,0.057426
2,AAP,62.200,N/A,19.963291,0.461386,1.40,0.227723,0.3288,0.041584,8.410737,0.20396,1.103824,0.059406,0.198812
3,AAPL,185.705,N/A,29.758598,0.683168,46.45,0.976238,7.5300,0.881188,23.334671,0.851485,17.357393,0.942574,0.866931
4,ABBV,162.955,N/A,45.508490,0.871287,24.38,0.962376,5.3500,0.8,13.613619,0.469307,9.439832,0.714851,0.763564
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,128.365,N/A,24.026419,0.546535,-4.42,0.10099,5.1200,0.782178,19.579001,0.728713,8.883408,0.677228,0.567129
501,ZBH,122.640,N/A,53.921694,0.90297,2.04,0.375248,3.5100,0.60396,16.048701,0.568317,5.900416,0.419802,0.574059
502,ZBRA,250.130,N/A,28.168258,0.645545,4.35,0.657426,2.5800,0.520792,17.557614,0.641584,6.487390,0.469307,0.586931
503,ZION,42.470,N/A,4.629249,0.085149,1.32,0.209901,1.2900,0.238614,3.535666,0.023762,1.334324,0.091089,0.129703
504,ZTS,197.560,N/A,39.610638,0.833663,17.79,0.934653,10.7900,0.940594,29.382840,0.922772,16.161810,0.922772,0.910891

## Selecting the 50 Best Value StocksÂ¶

As before, we can identify the 50 best value stocks in our universe by sorting the DataFrame on the RV Score column and dropping all but the top 50 entries.

In [52]:
rv_dataframe.sort_values(column_rv_score, ascending=True, inplace=True)
rv_dataframe = rv_dataframe[:50]

rv_dataframe.reset_index(drop=True, inplace=True)
rv_dataframe

/var/folders/tt/ptcp60n908q2mwfffgwm6jlm0000gn/T/ipykernel_1808/1757294691.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rv_dataframe.sort_values(column_rv_score, ascending=True, inplace=True)

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,FRC,3.510,N/A,0.418421,0.077228,0.0456,0.106931,0.0934,0.00198,0.270279,0.011881,0.094878,0.005941,0.040792
1,GM,35.535,N/A,4.946077,0.087129,0.6594,0.110891,0.2856,0.027723,1.325675,0.013861,0.936327,0.039604,0.055842
2,AAL,13.365,N/A,5.937208,0.09703,-1.8600,0.10495,0.1802,0.011881,4.861705,0.055446,0.613111,0.017822,0.057426
3,F,11.545,N/A,7.472398,0.112871,1.0400,0.152475,0.2643,0.019802,2.347591,0.015842,1.377598,0.09703,0.079604
4,C,52.070,N/A,8.104315,0.140594,0.5246,0.108911,0.6746,0.091089,4.393871,0.043564,0.710184,0.023762,0.081584
5,UNM,45.415,N/A,7.160745,0.108911,0.9178,0.134653,0.7208,0.108911,4.259477,0.037624,0.720840,0.027723,0.083564
6,UAL,40.525,N/A,5.103122,0.089109,1.6500,0.294059,0.2781,0.021782,3.379361,0.021782,0.522700,0.013861,0.088119
7,KSS,26.000,N/A,-20.840388,0.033663,0.7889,0.120792,0.1687,0.009901,9.044801,0.219802,1.229880,0.077228,0.092277
8,XRX,16.060,N/A,11.898189,0.229703,0.7082,0.114851,0.2797,0.023762,5.412472,0.073267,1.013098,0.045545,0.097426
9,SYF,37.290,N/A,6.731856,0.10297,1.2100,0.194059,0.7351,0.114851,4.429702,0.045545,0.981274,0.043564,0.100198
10,VIAC,29.580,N/A,5.862651,0.093069,0.9396,0.140594,0.7205,0.106931,6.649893,0.110891,1.201202,0.071287,0.104554
11,DXC,24.220,N/A,-8.176444,0.053465,1.4600,0.239604,0.3273,0.039604,4.273986,0.039604,2.430439,0.186139,0.111683
12,VLO,130.615,N/A,4.068905,0.079208,1.6800,0.305941,0.2884,0.029703,2.842414,0.017822,2.010380,0.160396,0.118614
13,CFG,32.055,N/A,7.784706,0.122772,0.7287,0.118812,1.2900,0.238614,4.869805,0.057426,1.367224,0.09505,0.126535
14,ZION,42.470,N/A,4.629249,0.085149,1.3200,0.209901,1.2900,0.238614,3.535666,0.023762,1.334324,0.091089,0.129703
15,L,71.070,N/A,11.723961,0.223762,1.1000,0.162376,1.0200,0.183168,4.210039,0.033663,1.023160,0.047525,0.130099
16,HPQ,29.875,N/A,9.110350,0.160396,-27.8100,0.029703,0.5534,0.081188,7.867718,0.172277,3.126440,0.227723,0.134257
17,CVS,76.280,N/A,11.811017,0.227723,1.3700,0.217822,0.2920,0.031683,7.454114,0.144554,1.079902,0.055446,0.135446
18,MHK,104.210,N/A,-12.193268,0.047525,0.9156,0.132673,0.5953,0.085149,7.815200,0.168317,3.330828,0.245545,0.135842
19,UA,7.770,N/A,7.859433,0.127723,1.5400,0.262376,0.5499,0.076238,7.426261,0.141584,1.217479,0.074257,0.136436
20,UAA,8.095,N/A,7.859433,0.127723,1.5400,0.262376,0.5499,0.076238,7.426261,0.141584,1.217479,0.074257,0.136436
21,AIG,67.220,N/A,12.457884,0.245545,1.2000,0.188119,0.9728,0.162376,4.664326,0.051485,0.972783,0.041584,0.137822
22,ALK,34.960,N/A,18.288353,0.413861,1.1600,0.177228,0.4576,0.059406,3.843047,0.029703,0.497458,0.011881,0.138416
23,HFC,36.390,N/A,10.557863,0.190099,1.0200,0.150495,0.3163,0.035644,6.840405,0.116832,2.762962,0.20198,0.13901
24,COF,127.850,N/A,9.576386,0.170297,0.9107,0.130693,1.0300,0.187129,7.249759,0.134653,1.308014,0.083168,0.141188
25,T,16.590,N/A,-10.078585,0.051485,1.1200,0.170297,1.0200,0.183168,5.652294,0.083168,3.604179,0.257426,0.149109
26,WRK,41.745,N/A,-6.461693,0.059406,1.0600,0.155446,0.5246,0.071287,6.808957,0.114851,5.257590,0.362376,0.152673
27,STT,77.190,N/A,10.035215,0.176238,1.0900,0.158416,1.3200,0.246535,7.187715,0.126733,1.322724,0.085149,0.158614
28,CMA,54.280,N/A,6.227014,0.09901,1.5900,0.274257,1.4100,0.272277,4.485138,0.049505,1.441461,0.106931,0.160396
29,BWA,33.165,N/A,11.030769,0.207921,1.3900,0.224752,0.4874,0.065347,4.952864,0.059406,3.476422,0.253465,0.162178
30,MOS,33.005,N/A,8.245010,0.142574,0.9051,0.128713,0.7258,0.110891,4.966268,0.061386,5.333880,0.370297,0.162772
31,TFC,36.815,N/A,9.351956,0.164356,0.9027,0.126733,1.5400,0.305941,6.202362,0.10099,1.644747,0.120792,0.163762
32,FOX,28.585,N/A,13.815206,0.282178,1.3800,0.220792,0.9634,0.157426,6.017828,0.09604,1.190021,0.068317,0.16495
33,FOXA,30.905,N/A,13.815206,0.282178,1.3800,0.220792,0.9634,0.157426,6.017828,0.09604,1.190021,0.068317,0.16495
34,MPC,157.780,N/A,5.110981,0.091089,2.2800,0.432673,0.3863,0.053465,3.657883,0.025743,3.160430,0.229703,0.166535
35,LNC,27.560,N/A,11.682672,0.221782,2.1300,0.39703,0.3186,0.037624,7.873105,0.174257,0.318590,0.007921,0.167723
36,HIG,82.060,N/A,10.821701,0.20396,1.8700,0.335644,1.0300,0.187129,5.047787,0.065347,1.031385,0.049505,0.168317
37,PSX,132.230,N/A,7.513096,0.114851,1.8600,0.332673,0.3836,0.051485,5.626434,0.081188,3.657463,0.265347,0.169109
38,DAL,38.860,N/A,7.997872,0.136634,2.9500,0.545545,0.4749,0.063366,5.332579,0.071287,0.728270,0.029703,0.169307
39,XOM,99.380,N/A,9.506956,0.168317,1.9600,0.357426,1.1200,0.20099,4.970131,0.063366,1.141873,0.065347,0.171089
40,MTB,133.970,N/A,7.692241,0.120792,0.9283,0.136634,1.8400,0.382178,5.518467,0.075248,1.921779,0.154455,0.173861
41,ALL,149.705,N/A,-18.863799,0.037624,3.1200,0.558416,0.7038,0.09901,7.729303,0.162376,0.703820,0.021782,0.175842
42,HCA,281.495,N/A,13.229917,0.261386,-30.5300,0.025743,1.2000,0.218812,9.284382,0.227723,1.806105,0.146535,0.17604
43,BAC,32.640,N/A,9.067476,0.158416,1.0100,0.148515,1.6100,0.316832,7.464086,0.146535,1.651871,0.126733,0.179406
44,HPE,16.290,N/A,10.509136,0.188119,1.0000,0.146535,0.7304,0.112871,9.870924,0.257426,2.764639,0.20396,0.181782
45,WFC,48.200,N/A,10.231264,0.182178,1.1000,0.162376,1.6400,0.325743,6.575919,0.108911,1.716750,0.132673,0.182376
46,UHS,158.020,N/A,14.297593,0.291089,1.5900,0.274257,0.6890,0.09505,8.651887,0.207921,1.034175,0.051485,0.18396
47,HBAN,12.560,N/A,8.300818,0.146535,1.1500,0.174257,1.7600,0.362376,6.115377,0.09901,1.828603,0.148515,0.186139
48,BK,54.840,N/A,11.923915,0.231683,1.1200,0.170297,1.3200,0.246535,8.815920,0.213861,1.323712,0.087129,0.189901
49,KEY,14.115,N/A,11.997137,0.233663,1.2400,0.19802,1.3300,0.249505,7.976782,0.178218,1.425541,0.10297,0.192475

## Calculating the Number of Shares to Buy
We'll use the `portfolio_input` function that we created earlier to accept our portfolio size. Then we will use similar logic in a for loop to calculate the number of shares to buy for each stock in our investment universe.

In [53]:
portfolio_input()

Enter the value of your portfolio: 1000000

In [56]:
position_size = float(portfolio_size)/len(rv_dataframe.index)

for row in rv_dataframe.index:
    rv_dataframe.loc[row, column_shares_to_buy] = math.floor(position_size/rv_dataframe.loc[row, column_price])

rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,FRC,3.510,5698,0.418421,0.077228,0.0456,0.106931,0.0934,0.00198,0.270279,0.011881,0.094878,0.005941,0.040792
1,GM,35.535,562,4.946077,0.087129,0.6594,0.110891,0.2856,0.027723,1.325675,0.013861,0.936327,0.039604,0.055842
2,AAL,13.365,1496,5.937208,0.09703,-1.8600,0.10495,0.1802,0.011881,4.861705,0.055446,0.613111,0.017822,0.057426
3,F,11.545,1732,7.472398,0.112871,1.0400,0.152475,0.2643,0.019802,2.347591,0.015842,1.377598,0.09703,0.079604
4,C,52.070,384,8.104315,0.140594,0.5246,0.108911,0.6746,0.091089,4.393871,0.043564,0.710184,0.023762,0.081584
5,UNM,45.415,440,7.160745,0.108911,0.9178,0.134653,0.7208,0.108911,4.259477,0.037624,0.720840,0.027723,0.083564
6,UAL,40.525,493,5.103122,0.089109,1.6500,0.294059,0.2781,0.021782,3.379361,0.021782,0.522700,0.013861,0.088119
7,KSS,26.000,769,-20.840388,0.033663,0.7889,0.120792,0.1687,0.009901,9.044801,0.219802,1.229880,0.077228,0.092277
8,XRX,16.060,1245,11.898189,0.229703,0.7082,0.114851,0.2797,0.023762,5.412472,0.073267,1.013098,0.045545,0.097426
9,SYF,37.290,536,6.731856,0.10297,1.2100,0.194059,0.7351,0.114851,4.429702,0.045545,0.981274,0.043564,0.100198
10,VIAC,29.580,676,5.862651,0.093069,0.9396,0.140594,0.7205,0.106931,6.649893,0.110891,1.201202,0.071287,0.104554
11,DXC,24.220,825,-8.176444,0.053465,1.4600,0.239604,0.3273,0.039604,4.273986,0.039604,2.430439,0.186139,0.111683
12,VLO,130.615,153,4.068905,0.079208,1.6800,0.305941,0.2884,0.029703,2.842414,0.017822,2.010380,0.160396,0.118614
13,CFG,32.055,623,7.784706,0.122772,0.7287,0.118812,1.2900,0.238614,4.869805,0.057426,1.367224,0.09505,0.126535
14,ZION,42.470,470,4.629249,0.085149,1.3200,0.209901,1.2900,0.238614,3.535666,0.023762,1.334324,0.091089,0.129703
15,L,71.070,281,11.723961,0.223762,1.1000,0.162376,1.0200,0.183168,4.210039,0.033663,1.023160,0.047525,0.130099
16,HPQ,29.875,669,9.110350,0.160396,-27.8100,0.029703,0.5534,0.081188,7.867718,0.172277,3.126440,0.227723,0.134257
17,CVS,76.280,262,11.811017,0.227723,1.3700,0.217822,0.2920,0.031683,7.454114,0.144554,1.079902,0.055446,0.135446
18,MHK,104.210,191,-12.193268,0.047525,0.9156,0.132673,0.5953,0.085149,7.815200,0.168317,3.330828,0.245545,0.135842
19,UA,7.770,2574,7.859433,0.127723,1.5400,0.262376,0.5499,0.076238,7.426261,0.141584,1.217479,0.074257,0.136436
20,UAA,8.095,2470,7.859433,0.127723,1.5400,0.262376,0.5499,0.076238,7.426261,0.141584,1.217479,0.074257,0.136436
21,AIG,67.220,297,12.457884,0.245545,1.2000,0.188119,0.9728,0.162376,4.664326,0.051485,0.972783,0.041584,0.137822
22,ALK,34.960,572,18.288353,0.413861,1.1600,0.177228,0.4576,0.059406,3.843047,0.029703,0.497458,0.011881,0.138416
23,HFC,36.390,549,10.557863,0.190099,1.0200,0.150495,0.3163,0.035644,6.840405,0.116832,2.762962,0.20198,0.13901
24,COF,127.850,156,9.576386,0.170297,0.9107,0.130693,1.0300,0.187129,7.249759,0.134653,1.308014,0.083168,0.141188
25,T,16.590,1205,-10.078585,0.051485,1.1200,0.170297,1.0200,0.183168,5.652294,0.083168,3.604179,0.257426,0.149109
26,WRK,41.745,479,-6.461693,0.059406,1.0600,0.155446,0.5246,0.071287,6.808957,0.114851,5.257590,0.362376,0.152673
27,STT,77.190,259,10.035215,0.176238,1.0900,0.158416,1.3200,0.246535,7.187715,0.126733,1.322724,0.085149,0.158614
28,CMA,54.280,368,6.227014,0.09901,1.5900,0.274257,1.4100,0.272277,4.485138,0.049505,1.441461,0.106931,0.160396
29,BWA,33.165,603,11.030769,0.207921,1.3900,0.224752,0.4874,0.065347,4.952864,0.059406,3.476422,0.253465,0.162178
30,MOS,33.005,605,8.245010,0.142574,0.9051,0.128713,0.7258,0.110891,4.966268,0.061386,5.333880,0.370297,0.162772
31,TFC,36.815,543,9.351956,0.164356,0.9027,0.126733,1.5400,0.305941,6.202362,0.10099,1.644747,0.120792,0.163762
32,FOX,28.585,699,13.815206,0.282178,1.3800,0.220792,0.9634,0.157426,6.017828,0.09604,1.190021,0.068317,0.16495
33,FOXA,30.905,647,13.815206,0.282178,1.3800,0.220792,0.9634,0.157426,6.017828,0.09604,1.190021,0.068317,0.16495
34,MPC,157.780,126,5.110981,0.091089,2.2800,0.432673,0.3863,0.053465,3.657883,0.025743,3.160430,0.229703,0.166535
35,LNC,27.560,725,11.682672,0.221782,2.1300,0.39703,0.3186,0.037624,7.873105,0.174257,0.318590,0.007921,0.167723
36,HIG,82.060,243,10.821701,0.20396,1.8700,0.335644,1.0300,0.187129,5.047787,0.065347,1.031385,0.049505,0.168317
37,PSX,132.230,151,7.513096,0.114851,1.8600,0.332673,0.3836,0.051485,5.626434,0.081188,3.657463,0.265347,0.169109
38,DAL,38.860,514,7.997872,0.136634,2.9500,0.545545,0.4749,0.063366,5.332579,0.071287,0.728270,0.029703,0.169307
39,XOM,99.380,201,9.506956,0.168317,1.9600,0.357426,1.1200,0.20099,4.970131,0.063366,1.141873,0.065347,0.171089
40,MTB,133.970,149,7.692241,0.120792,0.9283,0.136634,1.8400,0.382178,5.518467,0.075248,1.921779,0.154455,0.173861
41,ALL,149.705,133,-18.863799,0.037624,3.1200,0.558416,0.7038,0.09901,7.729303,0.162376,0.703820,0.021782,0.175842
42,HCA,281.495,71,13.229917,0.261386,-30.5300,0.025743,1.2000,0.218812,9.284382,0.227723,1.806105,0.146535,0.17604
43,BAC,32.640,612,9.067476,0.158416,1.0100,0.148515,1.6100,0.316832,7.464086,0.146535,1.651871,0.126733,0.179406
44,HPE,16.290,1227,10.509136,0.188119,1.0000,0.146535,0.7304,0.112871,9.870924,0.257426,2.764639,0.20396,0.181782
45,WFC,48.200,414,10.231264,0.182178,1.1000,0.162376,1.6400,0.325743,6.575919,0.108911,1.716750,0.132673,0.182376
46,UHS,158.020,126,14.297593,0.291089,1.5900,0.274257,0.6890,0.09505,8.651887,0.207921,1.034175,0.051485,0.18396
47,HBAN,12.560,1592,8.300818,0.146535,1.1500,0.174257,1.7600,0.362376,6.115377,0.09901,1.828603,0.148515,0.186139
48,BK,54.840,364,11.923915,0.231683,1.1200,0.170297,1.3200,0.246535,8.815920,0.213861,1.323712,0.087129,0.189901
49,KEY,14.115,1416,11.997137,0.233663,1.2400,0.19802,1.3300,0.249505,7.976782,0.178218,1.425541,0.10297,0.192475

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

In [60]:
writer = pd.ExcelWriter('value_strategy.xlsx', engine= 'xlsxwriter')
rv_dataframe.to_excel(writer, sheet_name='Value Strategy', index= False)

## Creating the Formats We'll Need For Our .xlsx File
You'll recall from our first project that formats include colors, fonts, and also symbols like % and $. We'll need four main formats for our Excel document:

* String format for tickers
* \$XX.XX format for stock prices
* \$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase
* Float formats with 1 decimal for each valuation metric

Since we already built some formats in past sections of this course, I've included them below for you. Run this code cell before proceeding.

In [61]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

float_template = writer.book.add_format(
        {
            'num_format':'0.0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )


percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

In [65]:
column_formats ={
    'A': [column_ticker, string_template],
    'B': [column_price, dollar_template],
     'C': [column_shares_to_buy, integer_template],
     'D': [column_peRatio, float_template],
     'E': [column_pePercentile, percent_template],
     'F': [column_priceToBook, float_template],
     'G': [column_pbPercentile, percent_template],
     'H': [column_priceToSales, float_template],
     'I': [column_psPercentile, percent_template],
     'J': [column_ev_by_ebitda, float_template],
     'K': [column_ev_by_ebitda_percentile, percent_template],
     'L': [column_ev_by_gp, float_template],
     'M': [column_ev_by_gp_percentile, percent_template],
     'N': [column_rv_score, percent_template]
}

for column in column_formats.keys():
    writer.sheets['Value Strategy'].set_column(f'{column}:{column}', 25 , column_formats[column][1])
    writer.sheets['Value Strategy'].write(f'{column}1', column_formats[column][0], column_formats[column][1])

## Saving Our Excel Output
As before, saving our Excel output is very easy:

In [66]:
writer.close()